@import "../../utils/const.module";

.accommodationListComponent {
    border-radius: 25px;
    background-color: #f6f6f6;
    margin-top: 26px;
    margin-bottom: 26px;

    @media (min-width: $trigger-point) {
        background-color: #f6f6f6;
        margin-top: 48px;
        margin-bottom: 48px;
    }
}

.accommodationList {
    margin: auto;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 20px;

    @media (min-width: $trigger-point) {
        gap: 50px;
        padding: 50px;
    }

    .accommodation-list-item-link {
        position: relative;

        .accommodation-list-item {
            background-size: cover;
            background-position: center;
            width: $cardWidht;
            height: $cardHeight;
            border-radius: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: end;

            @media (min-width: $trigger-point) {
                height: $cardHeightDesktop;
            }
        }

        .filter {
            position: absolute;
            top: 0;
            left: 0;
            width: $cardWidht;
            height: $cardHeight;
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(10, 10, 10, 0) 42%,
                rgba(4, 4, 4, 0.205) 99.99%,
                rgba(0, 0, 0, 0.5) 100%
            );
            display: flex;
            flex-direction: column;
            justify-content: end;

            span {
                color: white;
                font-weight: 500;
                margin: 20px;
            }

            @media (min-width: $trigger-point) {
                height: $cardHeightDesktop;
            }
        }
    }
}
