@import "../../utils/const.module";

.cover {
    background-size: cover;
    background-position: center;
    height: 111px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url("../../../public/images/e270fc8fc902a1eb738458e7b29c1899.jpg"),
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-blend-mode: darken;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;

    @media (min-width: $trigger-point) {
        height: 223px;
        justify-content: center;
        width: 100%;
        border-radius: 25px;
        margin-top: 48px;
    }

    h1 {
        font-weight: 700;
        font-size: 24px;
        color: white;
        text-shadow: 4px 4px 0px #00000040;
        width: 225px;
        padding: 14px;
        text-align: left;

        @media (min-width: $trigger-point) {
            font-size: 48px;
            width: 100%;
            text-align: center;
        }
    }
}
