$base-color: #ff6060;
$trigger-point: 600px;
$footer-height: 209px;
$maxWidth: 1240px;
$minWidth: 335px;

.spacer {
    height: 26px;
    @media (min-width: $trigger-point) {
        height: 48px;
    }
}
