@import "../../utils/const";

footer {
    height: $footer-height;
    width: 100%;
    bottom: 0px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 375px;
    margin-top: 26px;

    @media (min-width: $trigger-point) {
        gap: 25px;
        justify-content: end;
    }

    @media (min-width: $trigger-point) {
        margin-top: 48px;
    }

    img {
        width: 122px;
    }

    p {
        font-size: 12px;
        padding-left: 130px;
        padding-right: 130px;
        text-align: center;
        font-weight: 500;

        @media (min-width: $trigger-point) {
            font-size: 24px;
        }
    }
}
