@import "./utils/consts";

main {
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
    max-width: $maxWidth;
    margin: auto;

    @media (min-width: $trigger-point) {
        min-height: 100vh;
    }
}
